body {
    font-family: 'Poppins', sans-serif;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    height: 2000px;
}

#banner {
    text-align: center;
    font-size: 5rem;
    margin: 50px;
    text-shadow: black 10px 0 30px;
    top: 0px;
    position: absolute;
    margin-left: 600px;
    margin-top: 100px;
}

// .marker {
//   background-image: url('mapbox-icon.png');
//   background-size: cover;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   cursor: pointer;
// }

#map {
    border: 1px solid black;
    margin: 50px;
    width: 600px;
    height: 400px;
    min-width: 400px;
}



.main-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
    background: rgba(86, 86, 235, 0.108);
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}

.card h1 {
    font-size: 3rem;
}

#gallery {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}

#card-img {
    width:100%;
    height: 100%;
}

.marker {
//   background-image: url("./2079189.png");
  background-color: aqua;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.marker:hover {
//   background-image: url("./2079189.png");
  background-color: rgb(88, 160, 160);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}