#map {
    border: 1px solid #2b2d42;
    margin: 50px;
    width: 600px;
    height: 400px;
    min-width: 400px;
    filter: drop-shadow(30px 40px 20px #2b2d42);
}


.marker {
//   background-image: url('/Users/davidwoolner/Desktop/AppAcademy/NYC_Cinemap/src/styles/2079189.png');
  background-color: #edf2f4;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #2b2d42;;
  cursor: pointer;
//   filter: drop-shadow(30px 40px 20px #000);
//  transition: width 4s 1s;
}



.marker:hover {
  background-color: #ef233c;;
//   transform: rotate(1800deg);
//   transform: translateX(180px) rotate(45deg);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

// .marker mapboxgl-marker mapboxgl-marker-anchor-center {
//     background-image: url(src/styles/2079189.png);
// }
