#map {
    border: 1px solid #2b2d42;
    margin: 50px;
    width: 600px;
    height: 400px;
    min-width: 400px;
    filter: drop-shadow(7px 12px 5px #2b2d42);
}




.marker {
  background-color: #8d99ae;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #2b2d42;;
  cursor: pointer;
}
.marker-info {
  font-size: 20px;
  text-align: center;
  background-color: #8d99ae;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  // background-image: url('/Users/davidwoolner/Desktop/AppAcademy/NYC_Cinemap/src/styles/2079189.png');
}

.marker-long-lat {
  font-size: 15px;
}

.marker:hover {
  background-color: #ef233c;;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


.pop-up-title {
  text-align: center;
  font-size: 24px;
  color: #2b2d42;
  background-color: #edf2f4;
}
