
aside {
    background-image: url("https://images.unsplash.com/photo-1578496746448-fe831c881a57?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80");

}

#imdb-link {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #2b2d42;
}


aside h2 {
    color: $three;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    background-color: $two;
    display: inline-block;
    // position: absolute;
    right: 33%;
    border-radius: 10px;
    border: 1px solid $five;
    // top: 200%;
    transform: rotate(-45deg);
}

#list-title {
    text-transform: uppercase;
    text-align: left;
}

.list-container {
    background: $five;
    opacity: 90%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 900px;
    min-height: 400px;
    height: fit-content;
    border: 1px solid $five;
    margin: 0 auto;
    border-radius: 30px;
}

.list-card {
    width: 200px;
    height: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: $three;
    padding: 4px;
    border-radius: 10px 10px 5px 5px;
    border-right: 3px solid $five;
    border-bottom: 3px solid $five;
}

.list-card h3 {
    font-size: 20px;
    padding: 10px;
}


.list-card img {
    width: 100px;
    margin: 0 auto;
    height: 70%;
    padding: 10px;
    height: fit-content;
    width: 100px;
    border: 1px solid $five;
}
.list-card p {
    padding: 10px;
    width: auto;
}

.hide {
    display: none;
}

