.neighborhood {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(116, 116, 116);
}

.neighborhood li {
    font-size: 25px;
    font-weight: 600;
    font-variant-caps:small-caps;
}