.neighborhood {
 
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border: 1px solid $five;
    background-color: $four;
    cursor: pointer;
 
}

.neighborhood li:hover {
    color: $one;
}

.neighborhood li {
    font-size: 45px;
    font-weight: 600;
    font-variant-caps:small-caps;
}